body {
  background-color: #242424;
  font-family: "Lato", sans-serif !important;
  font-weight: 700 !important; }

#header {
  position: relative;
  background: url(../img/battle_for_azeroth_header_image.jpg) center no-repeat;
  background-size: cover;
  min-height: 700px;
  width: 100%;
  height: auto;
  font-weight: 700; }
  #header .primary-overlay {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.31), transparent, rgba(0, 0, 255, 0.31));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.about-paragraph {
  font-size: 1.5rem;
  font-weight: 400; }

#header-icons {
  background: #ededed;
  font-weight: 700; }
  #header-icons .fa-gamepad {
    font-size: 8rem;
    background: linear-gradient(to right, #1488cc, #2b32b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #header-icons .fa-users {
    font-size: 8rem;
    background: linear-gradient(to right, #1488cc, #2b32b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #header-icons .fa-handshake-o {
    font-size: 8rem;
    background: linear-gradient(to right, #1488cc, #2b32b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

#about {
  background: url(../img/about-header-img.jpeg);
  background-size: cover;
  background-position: top;
  min-height: 700px; }
  #about .fa-shield {
    font-size: 8rem; }
  #about .soldiers {
    font-size: 1.9rem; }

.pt-6 {
  padding-top: 5rem; }

.pt-7 {
  padding-top: 9rem; }

#community-section {
  background: #ededed;
  font-weight: 700; }
  #community-section .fa-users {
    font-size: 8rem;
    background: linear-gradient(to right, #1488cc, #2b32b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #community-section .fa-trophy {
    font-size: 8rem;
    background: linear-gradient(to right, #1488cc, #2b32b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #community-section .fa-gamepad {
    font-size: 8rem;
    background: linear-gradient(to right, #1488cc, #2b32b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #community-section .community-card {
    font-size: 1.3rem; }
  #community-section .WoW-Logo {
    width: auto;
    height: 80px; }
  #community-section .OW-Logo {
    width: auto;
    height: 80px; }
  #community-section .PUBG-Logo {
    width: auto;
    height: 80px; }
  #community-section .HS-Logo {
    width: auto;
    height: 80px; }
  #community-section .HOTS-Logo {
    width: auto;
    height: 80px; }
  #community-section .and-other-games {
    font-size: 35px; }
  #community-section .WoWProgress_Link:active,
  #community-section .WoWProgress_Link:hover {
    text-decoration: none; }
  #community-section .WoWProgress_Link:visited {
    text-decoration: none; }
  #community-section .RaiderIO_Link:active,
  #community-section .RaiderIO_Link:hover {
    text-decoration: none; }

.community-paragraph {
  font-size: 2rem;
  font-weight: 400; }

.display-5 {
  font-size: 3rem;
  font-weight: 400; }

.text-dark {
  color: #343434; }

.display-8 {
  font-size: 1.5rem;
  font-weight: 400; }

#watch-us {
  background: #fff; }

#contact {
  background: #e0e0e0; }

@media screen and (max-width: 568px) {
  .vis-vires-meaning-nouns-verbs {
    text-align: center; }
  .vis-vires-origin {
    text-align: center; }
  .vis-vires-status {
    text-align: center; }
  .vis-vires-def {
    text-align: center; }
  .thx-for-contact-text,
  .well-be-in-touch-soon-text,
  .contact-go-back-text {
    font-size: 2.5rem; }
  .contact-us-success-image {
    width: 250px;
    height: auto; } }

@media screen and (max-width: 480px) {
  .community-header {
    font-size: 2.8rem; }
  .contact-us-header {
    font-size: 3rem; }
  .thx-for-contact-text,
  .well-be-in-touch-soon-text,
  .contact-go-back-text {
    font-size: 2.5rem; }
  .contact-us-success-image {
    width: 250px;
    height: auto; } }

@media screen and (max-width: 320px) {
  .contact-us-header {
    font-size: 2.5rem; }
  .community-header {
    font-size: 2.7rem; }
  .about-header {
    font-size: 3.2rem; }
  .inspiration-header {
    font-size: 2.7rem; }
  .our-mission-header {
    font-size: 2.5rem; }
  .vis-vires-header {
    font-size: 3rem; }
  .thx-for-contact-text,
  .well-be-in-touch-soon-text,
  .contact-go-back-text {
    font-size: 2.5rem; }
  .contact-us-success-image {
    width: 200px;
    height: auto; } }

#contact-success-page {
  background: linear-gradient(to right, #1488cc, #2b32b2); }
